body {
  --sb-track-color: rgba(0, 0, 0, 0.1);
  --sb-thumb-color: rgba(0, 0, 0, 0.3);
  --sb-thumb-hover-color: rgba(0, 0, 0, 0.5);
  --sb-size: 6px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--sb-thumb-hover-color);
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.dark::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
}

.dark::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

.dark::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}
