body {
  --sb-track-color: #9e9e9e;
  --sb-thumb-color: #656b71;
  --sb-size: 6px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-corner {
  background: transparent;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

.light .lineBG {
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1) 2px, transparent 2px);
}

.dark .lineBG {
  background-image: linear-gradient(
      90deg,
      rgba(100, 100, 100, 0.1) 2px,
      transparent 2px
    ),
    linear-gradient(180deg, rgba(100, 100, 100, 0.1) 2px, transparent 2px);
}

#resumePreview li {
  list-style-type: disc;
  margin-left: 1rem;
}

#resumePreview li li {
  list-style-type: circle;
  margin-left: 1rem;
}
